/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1%;
  padding: 5px;
  width: 100%;
  align-items: center;
  background-color: #3A3F44;
}
.navigation img {
  width: 80px;
}
@media ( max-width: 500px ) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }
  .navigation img {
    display: none;
  }
}
.navigation .links {
  border-radius: 2rem;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5%;
}
@media ( max-width: 500px ) {
  .navigation .links {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
}
.navigation .links .button {
  color: white;
  font-family: "Roboto";
  font-size: 2.3rem;
  font-weight: bold;
  padding: 2%;
  white-space: nowrap;
  background-color: #3A3F44;
  text-align: center;
  border: 2px solid #7A8288;
  width: 100px;
  border-radius: 5rem;
  box-shadow: 0 7px 1px #7A8288;
  cursor: pointer;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  flex-wrap: nowrap;
}
.navigation .links .button:hover {
  background-color: #3E93AE;
  color: #3A3F44;
}
.navigation .links .button:active {
  background-color: #3E93AE;
  box-shadow: 0 5px #3A3F44;
  transform: translateY(4px);
}
.footer {
  width: 100%;
  background: #3A3F44;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: flex-end;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer p {
  text-align: center;
  color: #7A8288;
  padding: 0;
  margin: 0;
}
body,
html {
  background-color: #5BC0DE;
}
h1 {
  font-family: "Roboto";
  text-align: center;
  color: #3A3F44;
  font-weight: bold;
  font-size: 6vw;
}
h4 {
  font-family: "Roboto";
  font-size: 20px;
  text-align: center;
  color: #3A3F44;
}
p {
  font-family: "Roboto";
  text-align: center;
  color: #3A3F44;
  font-size: 16px ;
  padding-left: 10%;
  padding-right: 10%;
}
.mainContainer {
  min-height: 100%;
  position: relative;
  background-color: #5BC0DE;
}
.content-index {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-index img {
  width: 35px;
  margin-top: 2%;
}
@media ( max-width: 500px ) {
  .content-index {
    flex-direction: column;
  }
}
.content-index .content-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.1%;
  border: 2px solid #7A8288;
  border-radius: 2rem;
  width: 28.5%;
}
@media ( max-width: 500px ) {
  .content-index .content-left {
    display: none;
  }
}
.content-index .content-right {
  display: flex;
  flex-direction: column;
  justify-content: flext-start;
  align-items: center;
  margin-right: 1.1%;
  border: 2px solid #7A8288;
  border-radius: 2rem;
  width: 28.5%;
}
@media ( max-width: 500px ) {
  .content-index .content-right {
    display: none;
  }
}
.content-index .content-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
}
.content-index .content-center h1 {
  margin-bottom: 0.5%;
}
.content-index .content-center p {
  width: 96%;
  font-size: 1.8rem;
}
@media ( max-width: 500px ) {
  .content-index .content-center p {
    margin-top: 2%;
    width: 96%;
    font-size: 2.4rem;
  }
}
#slideshow {
  overflow: hidden;
  height: 20vmax;
  width: 50vw;
  margin: auto;
  margin-bottom: 1%;
  border-radius: 2rem;
}
.slide-wrapper {
  width: 3500vw;
  -webkit-animation: slide 20s ease infinite;
}
.slide {
  float: left;
  height: 50vh;
  width: 50vw;
}
.slide:nth-child(1) {
  background: #3E93AE;
}
.slide:nth-child(2) {
  background: #3E93AE;
}
.slide:nth-child(3) {
  background: #3E93AE;
}
.slide:nth-child(4) {
  background: #3E93AE;
}
.slide-number {
  color: #FFFFFF;
  margin: auto;
  padding: 5%;
  text-align: center;
  align-content: center;
  font-size: 3vw;
}
@keyframes slide {
  20% {
    margin-left: 0vw;
  }
  30% {
    margin-left: -50vw;
  }
  50% {
    margin-left: -50vw;
  }
  60% {
    margin-left: -100vw;
  }
  70% {
    margin-left: -100vw;
  }
  80% {
    margin-left: -150vw;
  }
  90% {
    margin-left: -150vw;
  }
}
.about-content {
  width: 95%;
  margin: 0 auto;
}
.about-content a {
  text-decoration: none;
  color: black;
}
@media ( max-width: 500px ) {
  .about-content {
    width: 100%;
    margin: 0 auto;
    padding-left: 9%;
  }
}
.role {
  display: none;
}
@media ( max-width: 500px ) {
  .role {
    display: block;
    margin: 8px;
    text-align: center;
    font-size: 1.4rem;
  }
}
.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 5px;
  margin: 25px;
  box-sizing: border-box;
}
.row .lead {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row div {
  width: 85%;
}
@media (max-width: 1000px) {
  .row div {
    width: 85%;
  }
  .row div img {
    width: 12vw;
  }
  .row div p {
    padding-top: 3%;
    line-height: 1.19;
  }
}
@media ( max-width: 500px ) {
  .row div {
    width: 100%;
  }
  .row div img {
    width: 70vw;
  }
}
@media ( max-width: 500px ) {
  .row {
    flex-direction: column;
    width: 90%;
    margin: 25px 0;
  }
}
.row img {
  width: 34%;
}
@media ( max-width: 500px ) {
  .row img {
    width: 100%;
  }
}
.row .profile {
  border-left: 0.5px solid black;
  border-bottom: 0.5px solid black;
  box-shadow: -2px 5px 5px gray;
  box-sizing: border-box;
}
.row .profile:hover {
  border-left: 0.5px solid black;
  border-bottom: 0.5px solid black;
  box-shadow: -4px 6px 6px #ca3030;
  box-sizing: border-box;
  color: #692019;
}
.column {
  justify-content: flex-start;
  width: 30%;
}
@media ( max-width: 500px ) {
  .column {
    width: 100%;
  }
}
.column div h2 {
  font-size: 1.8rem;
  padding: 0 8px;
  text-align: center;
}
.column div p {
  margin: 0;
  height: 80px;
  font-size: 1.5rem;
}
@media ( max-width: 500px ) {
  .column div h2 {
    margin-top: 5%;
  }
  .column div p {
    display: none;
  }
}
