body,
html {
    background-color: @teal;
}
h1 {
  font-family: "Roboto";
  text-align: center;
  color: @primary;
  font-weight: bold;
  font-size: 6vw;
}
h4 {
  font-family: "Roboto";
  font-size: 20px;
  text-align: center;
  color: @primary;
}
p {
  font-family: "Roboto";
  text-align: center;
  color: @primary;
  font-size: 16px ;
  padding-left: 10%;
  padding-right: 10%;
  // background-color: @secondary;
  // border: 5px solid @orange;
  // font-weight: bold;
}
.mainContainer {
  min-height: 100%;
  position: relative;
  background-color: @teal;
  // background-image: url(background.png);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // border: 1px solid green;
}
.content-index {
  display:flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 35px;
    margin-top: 2%;
  }
  @media @phone {
    flex-direction: column;
  }
  .content-left {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    //margin-top: 6%;
    margin-left:1.1%;
    border: 2px solid @secondary;
    border-radius: 2rem;
    width: 28.5%;
    @media @phone {
      display: none;
    }
  } // close content-left
  .content-right {
    display: flex;
    flex-direction:column;
    justify-content: flext-start;
    align-items: center;
    margin-right: 1.1%;
    border: 2px solid @secondary;
    border-radius: 2rem;
    width: 28.5%;
    @media @phone {
      display: none;
    }
  } // close content-right
  .content-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
    h1 {
      margin-bottom: 0.5%;
    }
    p {
      width: 96%;
      font-size: 1.8rem;
      @media @phone {
        margin-top: 2%;
        width: 96%;
        font-size: 2.4rem;
      }
    }
  } // close content-center
} // close content-index
#slideshow {
  overflow: hidden;
  height: 20vmax;
  width: 50vw;
  margin: auto;
  margin-bottom: 1%;
  // border: 5px solid @orange;
  border-radius: 2rem;
}
.slide-wrapper {
  width: 3500vw;
  -webkit-animation: slide 20s ease infinite;

}
.slide {
  float: left;
  height: 50vh;
  width: 50vw;

  // div {
  //   h4 {
  //     @media @phone {
  //       font-size: 2.8rem;
  //     }
  //   }
  // }

}
.slide:nth-child(1) {
  background: @blue;
}
.slide:nth-child(2) {
  background: @blue;
}
.slide:nth-child(3) {
  background: @blue;
}
.slide:nth-child(4) {
  background: @blue;
}
.slide-number {
  color: @white;
  margin: auto;
  padding: 5%;
  text-align: center;
  align-content: center;
  font-size: 3vw;
}
@keyframes slide {
  20% {
    margin-left: 0vw;
  }
  30% {
    margin-left: -50vw;
  }
  50% {
    margin-left: -50vw;
  }
  60% {
    margin-left: -100vw;
  }
  70% {
    margin-left: -100vw;
  }
  80% {
    margin-left: -150vw;
  }
  90% {
    margin-left: -150vw;
  }
}